{
   "settings": {
    "ecmascript": 5
  },
  "ecmaFeatures": {
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    semi: [2, "always"],
    no-undefined: 2,
    "indent": [2, 2],
    "quotes": [1, "single"],
    "no-multi-spaces": [1, {
      "exceptions": {
        "VariableDeclarator": true,
        "FunctionExpression": true
      }
    }],
    "key-spacing": [0, {"align": "value"}],
    "no-underscore-dangle": 0,
    "space-infix-ops": [2, {"int32Hint": false}],
    "no-trailing-spaces": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-multiple-empty-lines": [1, {"max": 1}],
  }
}
