* {
  border: 1px dotted orange;
  }

body {
  font-family: Helvetica, sans-serif;
  color: purple;
  background-color: lavender;
}

button {
  background-color: purple;
  color: white;
  border-radius: 10px;
  font-size: 1.1em;
}

.inline-p {
  display: inline;
}

canvas {
  outline: 2px solid black;
}
